.about_main {
    padding-bottom: 384px;
    position: relative;
}

.about_header_all { 
    display: inline-flex;
    align-items: center;
}

.about_img {
    margin: 167px 35px 76px 0;
}

.about_header {
    font-weight: 600;
    font-size: 40px; 
    margin: 200px 35px 100px 0px;
}

.about_content {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    max-width: 509px;
    margin: 0px 0px 0px 80px;
}

.about_button {
    font-size: 25px;    
    font-weight: 300; 
    color: white;
    width: 290px;
    height: 80px;
    background: radial-gradient(108.23% 100% at 50% 100%, #1919E0 0%, #FF2C9C 100%);
    border: none;
    margin: 76px 0px 0px 80px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.about_pic {
    position: absolute;
    bottom: 324px;
    right: 214px;
}

.about_content_protect {
    display: flex;
    flex-direction: column;
}

.about_content_all {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1600px;
}


@media (max-width: 1601px) {
    .about_pic {
        display: none;
    }
    
    .about_content_all { 
        align-items: center;
    }

    .about_content {
        max-width: 100%;
        margin: 0;
    }
}